*{
	margin: 0px;
	padding: 0px;
}

body, html{
	height: 100%
}

.bg {
    /* The image used */
    background-image: url("../images/bg-mapa_3.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#contenedor
{
	width:440px;
	height:440px;	
	margin-left: auto;
    margin-right: auto;
	background-color: #ff0000;	
}
#form_login{	
	text-align: center;
	text-anchor: #fff;
}

#logo{
	padding: 20px;
}
#responsivelogo{
	width: 100%;
	height: auto;
}