*{
	margin: 0;
	padding: 0;
}

body{
	background: #FFFFFA;
}
header{
	width: 100%;
}

header nav{
	width: 90%;
	max-height: 1000px;
	margin: 20px auto;
}

.menu-bar{
	display: none;
}
header nav ul{
	overflow: hidden;
	list-style: none;
}

header nav ul li{
	float: left;
}

header nav ul li a {
	color: #fff;
	padding: 20px;
	display: block;
	text-decoration: none;
}

header nav ul li span{
	margin-right: 10px;
}

#navegador ul {
	background-color: #ff0000;
	list-style-type: none;
	text-align: center;
		
}

#navegador li {
	display: inline;
	text-align: left;
	margin: 10px;

}

#navegador li a {
	
	color: #fff;
	background-color: #ff000000;	
	text-decoration: none;

}
#navegador li a:hover{
	background-color: #fff;
	color: #ff0000 
}

@media screen and (max-width: 800px){

	header nav {
		width: 80%;
		height: 100;
		left: -100%;
		margin: 0;
		position: fixed;
	}
	header nav ul li {
		display: block;
		float: none;
		border-bottom:1px solid rgba(255,255,255,.3);
	}

	.menu-bar{
		display: block;
		width: 100%;
		background: #FF0000;
	}
	.menu-bar .btn_menu {
		display: block;
		padding: 20px;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		font-size: 20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-box-sizing: border-box;
	}

	.menu-bar span{
		float: right;

	}

}